<div class="data-item">
    <div>
        <a id="{{id}}"></a>
        <mat-icon>label</mat-icon>
        <span class="data-key">
            {{id}}
        </span>
        Init:<input [(ngModel)]="data.initValue" (ngModelChange)="onDataChange()" />
        Curr:<input [(ngModel)]="data.value" (ngModelChange)="onDataChange()" />
        <mat-checkbox [ngModel]="data.attributes?.resetOnStateStop" (ngModelChange)="setDataRoS(data, $event)" title="Reset on Stop">RoS</mat-checkbox>
    </div>
    <div class="spacer"></div>
    <button mat-icon-button>
        <mat-icon (click)="deleteData(id)">delete</mat-icon>
    </button>
</div>