<mat-toolbar>
  <span>Devices</span>
  <span class="example-spacer"></span>
  <button mat-button color="warn" (click)="resetDevices()">Reset</button>
</mat-toolbar>

<div class="device-list">
  <mat-form-field>
    <mat-label>Devices</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="deviceSearchTerm"
      (input)="searchDevices()"
    />
    <button
      *ngIf="deviceSearchTerm"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearDeviceSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="devices">
    <div class="lamps">
      <mopo-lamp
        *ngFor="let lamp of this.lamps"
        [state]="lamp"
        [hardwareConfig]="hardwareConfig"
      ></mopo-lamp>
    </div>
    <div class="coils">
      <mopo-coil
        *ngFor="let coil of this.coils"
        [state]="coil"
        [hardwareConfig]="hardwareConfig"
      ></mopo-coil>
    </div>
  </div>
</div>
