<h2>Select Data Item</h2>
<mat-dialog-content>
    <div class="dataItems">
        <span class="dataItem" *ngFor="let d of allData">{{d}}</span>
    </div>
    <input type="text"
        matInput
        (input)="onSwitchChange($event)"
        [ngModel]="selectedKey"
        [matAutocomplete]="auto"
        placeholder="Type data id"
    >
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption panelWidth="auto"
        (optionSelected)="selectData($event)"
    >
        <mat-option *ngFor="let dataKey of availableData" [value]="dataKey">
            {{dataKey}}
        </mat-option>
    </mat-autocomplete>
</mat-dialog-content>