<div class="nestable-container" [class.active]="ruleEngine.active">
    <div class="header" [ngSwitch]="trigger.type">
        <trigger-header *ngSwitchCase="'switch'" [icon]="'close_fullscreen'" [name]="'Switch'">
            <switch-selector [switchId]="trigger.switchId" (switchSelect)="trigger.switchId = $event"></switch-selector>
            <input type="number" [(ngModel)]="trigger.holdIntervalMs"
                (ngModelChange)="onSwitchTriggerHoldTimeChange(trigger)" /> hold ms
        </trigger-header>
        <trigger-header *ngSwitchCase="'id'" [icon]="'title'" [name]="'Named'">
            <input [(ngModel)]="trigger.id" (ngModelChange)="gameService.update()" placeholder="Enter triger name" />
        </trigger-header>
        <trigger-header *ngSwitchCase="'timer'" [icon]="'av_timer'" [name]="'Timer'">
            <input [(ngModel)]="trigger.id" (ngModelChange)="gameService.update()" placeholder="Enter triger id" /> <input type="number" [(ngModel)]="trigger.valueMs"
                (ngModelChange)="gameService.update()" />
            <span class="timer-mode" *ngIf="trigger.mode === TimerActionTriggerMode.TIMEOUT">timeout ms</span>
            <span class="timer-mode" *ngIf="trigger.mode === TimerActionTriggerMode.INTERVAL">interval ms</span>
            <mat-checkbox [ngModel]="trigger.mode === TimerActionTriggerMode.INTERVAL" [disabled]="!trigger.valueMs"
                (ngModelChange)="setTimerMode(trigger, $event)">Repeat</mat-checkbox>
        </trigger-header>
        <ng-container *ngSwitchDefault>
            <div class="title">
                <span class="title-text bad">UNKNOWN TRIGGER TYPE</span>
            </div>
        </ng-container>
        <div class="spacer"></div>
        <button mat-icon-button (click)="activateTrigger(trigger)" [disabled]="!ruleEngine.active" title="Activate trigger">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button title="Copy Trigger" (click)="copyTrigger(trigger)">
            <mat-icon>copy_all</mat-icon>
        </button>
        <button mat-icon-button title="Move Trigger" [matMenuTriggerFor]="movemenu">
            <mat-icon>import_export</mat-icon>
        </button>
        <mat-menu #movemenu="matMenu">
            <button mat-menu-item (click)="moveTrigger(trigger, engine)" *ngFor="let engine of getAllEngines()">
                <span>Move to {{engine.id}}</span>
            </button>
        </mat-menu>
        <button mat-icon-button title="Move up" (click)="moveUp(trigger)"
            [disabled]="ruleEngine.triggers.indexOf(trigger) === 0">
            <mat-icon>vertical_align_top</mat-icon>
        </button>
        <button mat-icon-button title="Move down" (click)="moveDown(trigger)"
            [disabled]="ruleEngine.triggers.indexOf(trigger) === ruleEngine.triggers.length - 1">
            <mat-icon>vertical_align_bottom</mat-icon>
        </button>
        <button mat-icon-button title="Add action" [matMenuTriggerFor]="mainactionmenu">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-menu #mainactionmenu="matMenu">
            <action-menu [actionParent]="trigger"></action-menu>
        </mat-menu>
        <button mat-icon-button title="Delete Trigger">
            <mat-icon (click)="deleteTrigger(trigger)">delete</mat-icon>
        </button>
    </div>
    <div class="body">
        <span class="no-items" *ngIf="!trigger.actions.length">No actions</span>
        <div class="actions">
            <action-list [actions]="trigger.actions" [ruleEngine]="ruleEngine" [parent]="trigger"></action-list>
        </div>
    </div>
</div>