<div class="rule nestable-container" [class.active]="ruleEngine.active">
    <div class="header">
        <mat-icon [class.active-icon]="ruleEngine.active">group_work</mat-icon>
        <div class="title">
            <input type="text" [disabled]="ruleEngine.id === 'root'" [ngModel]="ruleEngine.id" (ngModelChange)="onIdChange($event)" />
        </div>
        <div>
            ({{ruleEngine.children.length}} Children)
        </div>
        <div *ngIf="!isRoot">
            <mat-checkbox [(ngModel)]="ruleEngine.autoStart" (ngModelChange)="onAutoStartChange()">Auto start</mat-checkbox>
        </div>
        <span class="spacer"></span>
        
        <button mat-icon-button *ngIf="!isRoot">
            <mat-icon (click)="deleteRule()">delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="ruleEngine.id !== 'root'">
            <mat-icon (click)="openInNewTab()">open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleShow()">
            <mat-icon *ngIf="showBody">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!showBody">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <div class="body" *ngIf="showBody && !autoCollapse()">
        <div class="io">
            <div class="left-io">
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>devices_other</mat-icon>
                        <div class="title"><span class="title-text">Devices</span></div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device" (click)="addDevice()" [disabled]="isRoot">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body max-height">
                        <span class="no-items" *ngIf="!devices.length">No devices</span>
                        <app-desired-output-state *ngFor="let device of devices" (delete)="deleteDevice(device)" [state]="device" [parentActive]="ruleEngine.active" [deleteable]="!isRoot"></app-desired-output-state>
                    </div>
                </div>
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>article</mat-icon>
                        <div class="title"><span class="title-text">Data</span></div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device">
                            <mat-icon (click)="addData()">add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body">
                        <span class="no-items" *ngIf="ruleEngine.data.size === 0">No data</span>
                        <div *ngFor="let d of ruleEngine.data | keyvalue" >
                            <number-data [id]="d.key" [numberData]="d.value" [ruleEngine]="ruleEngine" *ngIf="d.value.type === 'number'"></number-data>
                            <string-data [id]="d.key" [data]="d.value" [ruleEngine]="ruleEngine" *ngIf="d.value.type === 'string'"></string-data>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <mat-icon>rule</mat-icon>
                    <div class="title"><span class="title-text">Triggers</span> <span class="trigger-count">({{ruleEngine.triggers.length}})</span></div>
                    <div class="spacer"></div>
                    <button mat-icon-button title="Add Trigger" [matMenuTriggerFor]="addtriggermenu">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <mat-menu #addtriggermenu="matMenu">
                        <button mat-menu-item (click)="addNamedTrigger()"  title="Triggers only when 'called' by an Action">
                            <mat-icon>title</mat-icon>
                            <span>Named Trigger</span>
                        </button>
                        <button mat-menu-item (click)="addSwitchTrigger()" title="Triggers when a given switch is activated">
                            <mat-icon>close_fullscreen</mat-icon>
                            <span>Switch Trigger</span>
                        </button>
                        <button mat-menu-item (click)="addTimedTrigger()" title="Triggers after the given timeout or interval">
                            <mat-icon>av_timer</mat-icon>
                            <span>Timed Trigger</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="body">
                    <span class="no-items" *ngIf="!ruleEngine.triggers.length">No triggers</span>
                    <trigger *ngFor="let trigger of ruleEngine.triggers" [ruleEngine]="ruleEngine" [trigger]="trigger"></trigger>
                </div>
            </div>
        </div>
        <div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <mat-icon>format_list_bulleted</mat-icon>
                    <div class="title"><span class="title-text">Children</span></div>
                    <div class="spacer"></div>
                    <button mat-icon-button title="Add Child" (click)="addChild()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="body children">
                    <span class="no-items" *ngIf="!ruleEngine.children.length">No children</span>
                    <app-rule *ngFor="let child of ruleEngine.children" (delete)="deleteChild(child)" [ruleEngine]="child"></app-rule>
                </div>
            </div>
        </div>
    </div>
</div>