<div class="rule nestable-container" [class.active]="ruleEngine.active">
    <div class="header">
        <mat-icon [class.active-icon]="ruleEngine.active">group_work</mat-icon>
        <div class="title">
            <input type="text" [disabled]="ruleEngine.id === 'root'" [ngModel]="ruleEngine.id" (ngModelChange)="onIdChange($event)" />
        </div>
        <div>
            ({{ruleEngine.children.length}} Children)
        </div>
        <div *ngIf="!isRoot">
            <mat-checkbox [(ngModel)]="ruleEngine.autoStart" (ngModelChange)="onAutoStartChange()">Auto start</mat-checkbox>
        </div>
        <span class="spacer"></span>
        
        <button mat-icon-button *ngIf="!isRoot">
            <mat-icon (click)="deleteRule()">delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="ruleEngine.id !== 'root'">
            <mat-icon (click)="openInNewTab()">open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleShow()">
            <mat-icon *ngIf="showBody">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!showBody">keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <div class="body" *ngIf="showBody && !autoCollapse()">
        <div class="io">
            <div class="left-io">
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>devices_other</mat-icon>
                        <div class="title">Devices</div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device" (click)="addDevice()" [disabled]="isRoot">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body max-height">
                        <span class="no-items" *ngIf="!devices.length">No devices</span>
                        <app-desired-output-state *ngFor="let device of devices" (delete)="deleteDevice(device)" [state]="device" [parentActive]="ruleEngine.active" [deleteable]="!isRoot"></app-desired-output-state>
                    </div>
                </div>
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>article</mat-icon>
                        <div class="title">Data</div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device">
                            <mat-icon (click)="addData()">add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body">
                        <span class="no-items" *ngIf="ruleEngine.data.size === 0">No data</span>
                        <div *ngFor="let d of ruleEngine.data | keyvalue" class="data-item">
                            <div>
                                <a id="{{d.key}}"></a>
                                <mat-icon>label</mat-icon>
                                <span class="data-key">
                                    {{d.key}}
                                </span>
                                Init:<input type="number" [(ngModel)]="d.value.initValue" (ngModelChange)="onDataChange()" />
                                Curr:<input type="number" [(ngModel)]="d.value.value" (ngModelChange)="onDataChange()" />
                                <mat-checkbox [ngModel]="d.value.attributes?.isWholeNumber" (ngModelChange)="setDataWhole(d.value, $event)">Whole</mat-checkbox>
                                <mat-checkbox [ngModel]="d.value.attributes?.resetOnStateStop" (ngModelChange)="setDataRoS(d.value, $event)" title="Reset on Stop">RoS</mat-checkbox>
                            </div>
                            <div class="spacer"></div>
                            <button mat-icon-button>
                                <mat-icon (click)="deleteData(d.key)">delete</mat-icon>
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <mat-icon>rule</mat-icon>
                    <div class="title">Triggers & Actions</div>
                    <div class="spacer"></div>
                    <button mat-icon-button (click)="addTrigger()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="body">
                    <span class="no-items" *ngIf="!ruleEngine.triggers.length">No triggers</span>
                    <div *ngFor="let trigger of ruleEngine.triggers" class="nestable-container" [class.active]="ruleEngine.active">
                        <div class="header">
                            <ng-container *ngIf="trigger.type === 'switch'">
                                <mat-icon>close_fullscreen</mat-icon>
                                <div class="title timer-title">
                                    Switch Trigger: <span class="id">{{trigger.switchId}}</span>
                                    <span >
                                        <input type="number" [(ngModel)]="trigger.holdIntervalMs" (ngModelChange)="onSwitchTriggerHoldTimeChange(trigger)" />ms
                                    </span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="trigger.type === 'id'">
                                <mat-icon>title</mat-icon>
                                <div class="title">
                                    Named Trigger: <span class="id">{{trigger.id}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="trigger.type === 'timer'">
                                <mat-icon>av_timer</mat-icon>
                                <div class="title timer-title">
                                    Timed Trigger: <span class="id">{{trigger.id}}</span> <input type="number" [(ngModel)]="trigger.valueMs" (ngModelChange)="gameService.update()" />ms
                                    <mat-checkbox [ngModel]="trigger.mode === TimerActionTriggerMode.INTERVAL" (ngModelChange)="setTimerMode(trigger, $event)">Repeat</mat-checkbox>
                                </div>
                            </ng-container>
                            <div class="spacer"></div>
                            <button mat-icon-button [disabled]="!ruleEngine.active" title="Activate trigger">
                                <mat-icon (click)="activateTrigger(trigger)">play_arrow</mat-icon>
                            </button>
                            <button mat-icon-button title="Move up" (click)="moveUp(trigger)" [disabled]="ruleEngine.triggers.indexOf(trigger) === 0">
                                <mat-icon>vertical_align_top</mat-icon>
                            </button>
                            <button mat-icon-button title="Move down" (click)="moveDown(trigger)" [disabled]="ruleEngine.triggers.indexOf(trigger) === ruleEngine.triggers.length - 1">
                                <mat-icon>vertical_align_bottom</mat-icon>
                            </button>
                            <button mat-icon-button title="Add action">
                                <mat-icon (click)="addAction(trigger)">add_circle_outline</mat-icon>
                            </button>
                            <button mat-icon-button title="Delete Trigger">
                                <mat-icon (click)="deleteTrigger(trigger)">delete</mat-icon>
                            </button>
                        </div>
                        <div class="body">
                            <div *ngFor="let action of trigger.actions" class="actions">
                                <div *ngIf="action.toJSON().type === 'state'" class="action">
                                    <div class="title">
                                        <span *ngIf="!action.stopTargetId && action.startTargetId">Start </span>
                                        <span *ngIf="action.stopTargetId && !action.startTargetId">Stop </span>
                                        State Action</div>
                                    <span>
                                        <mat-icon>group_work</mat-icon><mat-icon>arrow_right_alt</mat-icon><mat-icon>group_work</mat-icon>
                                    </span>
                                    <span>
                                        Stop: <input type="text" [(ngModel)]="action.stopTargetId" /> -> Start: <input type="text" [(ngModel)]="action.startTargetId" />
                                    </span>
                                    <div class="spacer"></div>
                                    <app-action-actions [trigger]="trigger" [action]="action" ></app-action-actions>
                                </div>
                                <div *ngIf="action.toJSON().type === 'device'" class="action">
                                    <div class="title">Device Action</div>
                                    <app-desired-output-state  [state]="action.state" [parentActive]="ruleEngine.active" [deleteable]="false"></app-desired-output-state>
                                    <div class="spacer"></div>
                                    <app-action-actions [trigger]="trigger" [action]="action" ></app-action-actions>
                                </div>
                                <div *ngIf="action.toJSON().type === 'data'" class="action">
                                    <div class="title">Data Action</div>
                                    <mat-icon>label</mat-icon>
                                    <app-data-key-selector class="token" [ruleEngine]="ruleEngine" [dataKey]="action.dataKey" (key)="action.dataKey = $event"></app-data-key-selector>
                                    <app-data-operation class="token" [operation]="action.operation" (changed)="action.operation = $event; gameService.update();"></app-data-operation>
                                    <app-operand-selector class="token" [ruleEngine]="ruleEngine" [(operand)]="action.operand" (operandChange)="gameService.update()"></app-operand-selector>
                                    <div class="spacer"></div>
                                    <app-action-actions [trigger]="trigger" [action]="action" ></app-action-actions>
                                </div>
                                <div *ngIf="action.toJSON().type === 'condition'" class="action">
                                    <div class="title">Conditional Action</div>
                                    <mat-icon>call_split</mat-icon>
                                        <span class="token">If</span>    
                                        <app-data-key-selector class="token" [ruleEngine]="ruleEngine" [dataKey]="action.condition.dataId" (key)="action.condition.dataId = $event"></app-data-key-selector>
                                        <select class="token" [(ngModel)]="action.condition.operator">
                                            <option *ngFor="let op of operators" [ngValue]="op">{{op}}</option>
                                        </select>
                                        <app-operand-selector class="token" [ruleEngine]="ruleEngine" [(operand)]="action.condition.operand" (change)="gameService.update()"></app-operand-selector>
                                        <span class="token">then trigger</span>
                                        <input class="token" type="text" [(ngModel)]="action.trueTriggerId" />
                                        <span class="token">else trigger</span>
                                        <input type="text" [(ngModel)]="action.falseTriggerId" />
                                    <div class="spacer"></div>
                                    <app-action-actions [trigger]="trigger" [action]="action" ></app-action-actions>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <mat-icon>format_list_bulleted</mat-icon>
                    <div class="title">Children</div>
                    <div class="spacer"></div>
                    <button mat-icon-button title="Add Child" (click)="addChild()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="body children">
                    <span class="no-items" *ngIf="!ruleEngine.children.length">No children</span>
                    <app-rule *ngFor="let child of ruleEngine.children" (delete)="deleteChild(child)" [ruleEngine]="child"></app-rule>
                </div>
            </div>
        </div>
    </div>
</div>