@import '../actions.scss';

.rule {

    .active-icon {
        color: rgb(255, 165, 0);
    }

    .id {
        font-family: monospace;
    }

    .io {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        .devices {
            margin-right: 6px;
        }
        
        .left-io {
            display: flex;
            flex-direction: column;
            
            .nestable-container:nth-child(1) {
                margin-bottom: 10px;
            }
            .nestable-container:last-child {
                margin-bottom: 0;
            }
        }
    }

    .children {
        app-rule {
            padding-bottom: 6px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .timer-title {
        input[type=number] {
            width: 4em;
            margin-left: 2em;
        }
        
    }

    .condition {
        border: solid 1px rgba(255, 255, 255, 0.2);
        padding: 0 6px;
        border-radius: 3px;       
    }
    
}