.rule {
    .active-icon {
        color: orange;
    }

    .io {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        .devices {
            margin-right: 6px;
        }
        // padding: 6px;
    }

    .children {
        app-rule {
            padding-bottom: 6px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .trigger {
        border: solid 1px white;
        border-radius: 5px;
        padding: 5px;

        .action {
            border: solid 1px white;
            border-radius: 5px;
        }
    }
}