<div class="rule nestable-container" [class.active]="ruleEngine.active">
    <div class="header">
        <mat-icon [class.active-icon]="ruleEngine.active">group_work</mat-icon>
        <div class="title">
            <input type="text" [disabled]="ruleEngine.id === 'root'" [(ngModel)]="ruleEngine.id" (change)="onIdChange()" />
        </div>
        <div *ngIf="!isRoot">
            Auto start: <input type="checkbox" [(ngModel)]="ruleEngine.autoStart" (change)="onAutoStartChange()" />
        </div>
        <span class="spacer"></span>
        
        <button mat-icon-button *ngIf="!isRoot">
            <mat-icon (click)="delete.emit()">delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="ruleEngine.id !== 'root'">
            <mat-icon (click)="openInNewTab()">open_in_new</mat-icon>
        </button>
        <button mat-icon-button (click)="showBody = !showBody">
            <mat-icon *ngIf="showBody">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!showBody">keyboard_arrow_up</mat-icon>
        </button>
    </div>
    <div class="body" *ngIf="showBody">
        <div class="io">
            <div class="left-io">
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>devices_other</mat-icon>
                        <div class="title">Devices</div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device">
                            <mat-icon (click)="addDevice()">add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body">
                        <app-desired-output-state *ngFor="let device of devices" (delete)="deleteDevice(device)" [state]="device" [parentActive]="ruleEngine.active"></app-desired-output-state>
                    </div>
                </div>
                <div class="nestable-container devices" [class.active]="ruleEngine.active">
                    <div class="header">
                        <mat-icon>article</mat-icon>
                        <div class="title">Data</div>
                        <div class="spacer"></div>
                        <button mat-icon-button title="Add new device">
                            <mat-icon (click)="addData()">add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <div class="body">
                        <div *ngFor="let d of ruleEngine.data | keyvalue" class="data-item">
                            <div>
                                <mat-icon>label</mat-icon>
                                <span>
                                    {{d.key}}
                                </span>
                                <input type="number" [(ngModel)]="d.value.value" (ngModelChange)="onDataChange(d.value)" />
                            </div>
                            <div class="spacer"></div>
                            <button mat-icon-button>
                                <mat-icon (click)="deleteData(d.key)">delete</mat-icon>
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <mat-icon>rule</mat-icon>
                    <div class="title">Triggers & Actions</div>
                    <div class="spacer"></div>
                    <button mat-icon-button>
                        <mat-icon (click)="addTrigger()">add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="body">
                    <div *ngFor="let trigger of ruleEngine.triggers" class="nestable-container" [class.active]="ruleEngine.active">
                        <div class="header" >
                            <div *ngIf="trigger.type === 'switch'">
                                Switch Trigger: {{trigger.switchId}}
                                <span *ngIf="trigger.holdIntervalMs">{{trigger.holdIntervalMs}}ms</span>
                            </div>
                            <div *ngIf="trigger.type === 'id'">
                                Named Trigger: {{trigger.id}}
                            </div>
                            <button mat-icon-button [disabled]="!ruleEngine.active" title="Activate trigger">
                                <mat-icon (click)="activateTrigger(trigger)">play_arrow</mat-icon>
                            </button>
                            <div class="spacer"></div>
                            <button mat-icon-button title="Add action">
                                <mat-icon (click)="addAction(trigger)">add_circle_outline</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon (click)="deleteTrigger(trigger)">delete</mat-icon>
                            </button>
                        </div>
                        <div class="body">
                            <div *ngFor="let action of trigger.actions" class="actions">
                                <div *ngIf="action.toJSON().type === 'state'" class="action">
                                    <div>
                                        <mat-icon>group_work</mat-icon><mat-icon>arrow_right_alt</mat-icon><mat-icon>group_work</mat-icon>
                                    </div>
                                    <span>
                                        {{action.stopTargetId}} -> {{action.startTargetId}}
                                    </span>
                                    <div class="spacer"></div>
                                    <button mat-icon-button>
                                        <mat-icon (click)="deleteAction(trigger, action)">delete</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="action.toJSON().type === 'device'" class="action">
                                    <div>
                                        <mat-icon>devices_other</mat-icon>
                                        <span>
                                            {{action.state.id}} {{action.state.type}} {{action.state.initialState}}
                                        </span>
                                    </div>
                                    <div class="spacer"></div>
                                    <button mat-icon-button>
                                        <mat-icon (click)="deleteAction(trigger, action)">delete</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="action.toJSON().type === 'data'" class="action">
                                    <div>
                                        <mat-icon>label</mat-icon>
                                        <span>
                                            {{action.dataKey}}: {{action.operation}} {{action.operand}}
                                        </span>
                                    </div>
                                    <div class="spacer"></div>
                                    <button mat-icon-button>
                                        <mat-icon (click)="deleteAction(trigger, action)">delete</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="action.toJSON().type === 'condition'" class="action">
                                    <div>
                                        <mat-icon>call_split</mat-icon>
                                        <span>
                                            If "{{action.condition.dataId}}" {{action.condition.operator}} {{action.condition.operand}} then trigger {{action.trueTriggerId}} else trigger {{action.falseTriggerId}}  
                                        </span>
                                    </div>
                                    <div class="spacer"></div>
                                    <button mat-icon-button>
                                        <mat-icon (click)="deleteAction(trigger, action)">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="nestable-container" [class.active]="ruleEngine.active">
                <div class="header">
                    <div class="title">Children</div>
                    <div class="spacer"></div>
                    <button mat-icon-button title="Add Child">
                        <mat-icon (click)="addChild()">add_circle_outline</mat-icon>
                    </button>
                </div>
                <div class="body children">
                    <app-rule *ngFor="let child of ruleEngine.children" (delete)="deleteChild(child)" [ruleEngine]="child"></app-rule>
                </div>
            </div>
        </div>
    </div>
</div>