<mat-dialog-content>
    <div class="hardware-info">
        <div class="image">
            <img
                src="https://imgproxy.pinside.com/6zzk3ud0h_IWco_Ho-x27Y_k3OF7aqymBGI6q5bGMpY/rs:fit:2048:2048/q:70/aHR0cHM6Ly9vLnBpbnNpZGUuY29tLzgvNGEvZGYvODRhZGYwNWEwM2Q2MTU5OWFiYjE1YjVjOWE0ZTQ3OWQxNjk0YjgwNi5qcGc" />
        </div>
        <div class="devices">
            <div>
                <h3>Switches</h3>
                <table>
                    <tr *ngFor="let sw of getSwitches()">
                        <td>{{sw.number}}</td>
                        <td>{{sw.name}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Lamps</h3>
                <table>
                    <tr *ngFor="let sw of getLamps()">
                        <td>{{sw.number}}</td>
                        <td>{{sw.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>