:host {

    mat-dialog-content {
        max-height: initial;
    }
    
    .hardware-info {
        display: flex;

        td {
            &:first-child {
                font-weight: bold;
                text-align: right;
            }
            vertical-align: top;
        }

        .image, .devices {
            width: 50%;
            img {
                width: 100%;
            }
        }

        .devices {
            display: flex;
        }

        

            
    }
}