<mopo-properties
  title="Device Action Properties"
  (removeEngineRule)="removeAction.emit()"
>
  <div properties class="properties">
    <mat-form-field>
      <mat-label>Device</mat-label>
      <mat-select
        [(ngModel)]="deviceId"
        name="deviceId"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option *ngFor="let d of devices" [value]="d.value">
          <mat-icon>{{ d.icon }}</mat-icon>
          {{ d.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mopo-lamp
      *ngIf="selectedItem?.type === 'lamp' && deviceAction.state"
      [state]="deviceAction.state"
      [hardwareConfig]="hardwareConfig"
      (lampChange)="actionChange.emit()"
    ></mopo-lamp>
    <mopo-coil
      *ngIf="selectedItem?.type === 'coil' && deviceAction.state"
      [state]="deviceAction.state"
      [hardwareConfig]="hardwareConfig"
      (coilChange)="actionChange.emit()"
    ></mopo-coil>
  </div>
</mopo-properties>
