<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newFile()">
      <mat-icon>note_add</mat-icon> <span>New...</span>
    </button>
    <button mat-menu-item (click)="saveFile()">
      <mat-icon>start</mat-icon> <span>Save</span>
    </button>
    <button mat-menu-item (click)="exportJson()">
      <mat-icon>download</mat-icon> <span>Export</span>
    </button>
    <mat-divider></mat-divider>
    <button
      *ngFor="let file of files.fileNames"
      mat-menu-item
      (click)="loadFile(file)"
    >
      <mat-icon *ngIf="file === files.selectedFile">task</mat-icon>
      <mat-icon *ngIf="file !== files.selectedFile">description</mat-icon>
      <span>{{ file }}</span>
    </button>
  </mat-menu>
  <span
    >Mopo Pinball Designer - {{ hardwareConfig.name }} -
    {{ rootEngine?.name }}</span
  >
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    aria-label="Example icon button with a home icon"
    (click)="showEngineDiagram()"
  >
    <mat-icon>schema</mat-icon>
  </button>
  <!-- <mat-select
    style="width: 33%"
    (valueChange)="setEngine($event)"
    [value]="selectedEngine"
  >
    <mat-option *ngFor="let engine of allEngines" [value]="engine">{{
      engine.id
    }}</mat-option>
  </mat-select> -->
</mat-toolbar>
