<div class="attributes">
  <div class="attribute-line">
    <mat-form-field>
      <mat-label>id</mat-label>
      <input matInput [ngModel]="selectedEngine.id" readonly />
    </mat-form-field>
    <button
      (click)="editId()"
      mat-icon-button
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <mat-form-field *ngIf="!nameDisabled">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="selectedEngine.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="selectedEngine.description" />
  </mat-form-field>
  <mat-checkbox
    [(ngModel)]="selectedEngine.autoStart"
    [disabled]="autoStartDisabled"
    >Auto Start</mat-checkbox
  >
</div>
