.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .search {
        width: 60%;
        font-size: large;
    }
}

h2 {
    margin: 10px 0;
}

.hw-item {
    padding: 5px;
}