<mat-toolbar>
    <div class="logo-version">
        <img src="./assets/mopo-logo.svg" class="logo" />
        <span class="version">{{appVersion}}</span>
    </div>
    
    <span>
        <div *ngIf="hardwareConfig && root" class="hw-meta">
            <span class="metadata">
                <mat-form-field>
                    <mat-label>Game Name</mat-label>
                    <input matInput type="text" [(ngModel)]="root.name" (ngModelChange)="gameService.update()" />
                    <mat-hint align="start" *ngIf="hardwareConfig">
                        Hardware: {{hardwareConfig.name}} - System {{hardwareConfig.system}}
                    </mat-hint>
                </mat-form-field>
            </span>
        </div>
    </span>
    <span class="spacer"></span>
    <span class="remote-machine" style="display:none;">
        <mat-form-field>
            <mat-label>Remote Machine</mat-label>
            <input type="text" matInput placeholder="IP address" [(ngModel)]="remoteMachineAddress" />
        </mat-form-field>
        <button mat-icon-button title="Create New" (click)="selectRemoteMachine()" [disabled]="!remoteMachineAddress">
            <mat-icon *ngIf="!remoteMachineReady">cast</mat-icon>
            <mat-icon *ngIf="remoteMachineReady" class="connected">cast_connected</mat-icon>
        </button>
        <button mat-icon-button title="Upload" (click)="applyToRemoteMachine()" [disabled]="!remoteMachineAddress || !remoteMachineReady">
            <mat-icon [class.complete]="uploadComplete">publish</mat-icon>
        </button>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <span mat-menu-item>
            <mat-checkbox [(ngModel)]="autoCollapse" (ngModelChange)="onCollapseChange()">Collapse inactive states</mat-checkbox>
        </span>
    </mat-menu>
    <button mat-icon-button title="Download Rule File">
        <mat-icon (click)="test()">download</mat-icon>
    </button>
    <button mat-icon-button title="Create New">
        Create New
    </button>
    <input type="file"
           #fileload
           style="display:none;"
           (change)="load($event.target.files)">
    <button mat-icon-button title="Load">
        <mat-icon (click)="preLoad()">publish</mat-icon>
    </button>
    <!-- <button mat-icon-button title="Save">
        <mat-icon (click)="save()">save</mat-icon>
    </button> -->
    <a id="dl" style="display:none;" download="mopo.json" #dllink [href]="downloadHref">DL</a>
</mat-toolbar>
<mat-tab-group *ngIf="hardwareConfig && root" animationDuration="0ms" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onSelectedTabIndexChange($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="tab-content">
                <mat-icon class="active-icon">group_work</mat-icon>
                {{root.id}}
            </div>
        </ng-template>
        <div class="editor">
            <app-rule *ngIf="root" [ruleEngine]="root" [isRoot]="true"></app-rule>
        </div>        
    </mat-tab>
    <mat-tab *ngFor="let engine of engineTabs">
        <ng-template mat-tab-label>
            <div class="tab-content" title="{{engine.description}}">
                <mat-icon [class.active-icon]="engine.active">group_work</mat-icon>
                {{engine.id}}
                <button mat-icon-button>
                    <mat-icon (click)="closeTab(engine)">close</mat-icon>
                </button>
            </div>
        </ng-template>
        <div class="editor">
            <app-rule [ruleEngine]="engine" [isTabRoot]="true"></app-rule>
        </div>        
    </mat-tab>
</mat-tab-group>
