<mat-toolbar>
  <span>Mopo Designer
    <span class="hardware-details" *ngIf="hardwareConfig">(Hardware: {{hardwareConfig.name}} - System {{hardwareConfig.system}})</span>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon (click)="test()">print</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="new()">create</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon (click)="save()">save</mat-icon>
  </button>
</mat-toolbar>
<div class="editor">
  <app-rule *ngIf="root" [ruleEngine]="root"></app-rule>
</div>  