@import './colors.scss';

@mixin container-mixin {
    display: flex;
    align-items: center;
    padding: 2px;
}

.data-container {
    background: $DATA_COLOR;
    @include container-mixin();
}

.device-container {
    background: $DEVICE_COLOR;
    @include container-mixin();
}

.switch-container {
    background: $SWITCH_COLOR;
    @include container-mixin();
}

.trigger-container {
    background: $TRIGGER_COLOR;
    @include container-mixin();
}

.bad-id {
    background-color: $BAD_ID_COLOR !important;
    border-color: darkred !important;
}