Backbox

<div class="backbox"></div>

Playfield
<div class="playfield">
  <mat-icon
    *ngFor="let device of outputDevices"
    [matBadge]="device.number"
    cdkDragBoundary=".playfield"
    cdkDrag
    [cdkDragFreeDragPosition]="device.position"
    [cdkDragData]="device"
    [style.color]="device.isOn ? 'yellow' : 'grey'"
    (cdkDragEnded)="onDropped($event)"
    >{{ device.icon }}</mat-icon
  >

  <button
    mat-icon-button
    *ngFor="let sw of inputDevices"
    cdkDragBoundary=".playfield"
    cdkDrag
    [cdkDragFreeDragPosition]="sw.position"
    [cdkDragData]="sw"
    (cdkDragEnded)="onDropped($event)"
    (click)="onPlayfiledButtonPress(sw.id)"
  >
    <mat-icon [matBadge]="sw.number">{{ sw.icon }}</mat-icon>
  </button>
</div>

Active Engines

<mat-chip-set class="active-engines">
  <mat-chip *ngFor="let engine of activeEngines" (click)="selectedEngineChanged.emit(engine)">
    {{ engine.id }}
  </mat-chip>
</mat-chip-set>
