<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="triggermenu">Add Trigger</button>
  <mat-menu #triggermenu="matMenu">
    <button mat-menu-item (click)="addSwitchTrigger()"><mat-icon>compress</mat-icon>Switch Trigger</button>
    <button mat-menu-item (click)="addTimerTrigger()"><mat-icon>timer</mat-icon>Timer Trigger</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="actionmenu">Add Action</button>
  <mat-menu #actionmenu="matMenu">
    <button mat-menu-item (click)="addDataAction()">
      <mat-icon>storage</mat-icon>Data Action
    </button>
    <button mat-menu-item (click)="addDeviceAction()">
      <mat-icon>widgets</mat-icon>Device Action
    </button>
    <button mat-menu-item (click)="addStateAction()">
      <mat-icon>schema</mat-icon>State Action
    </button>
  </mat-menu>
</mat-toolbar>

<div class="watermark">{{ engine.id }} </div>
<div style="display: flex">
  <mopo-react-diagram [diagramEngine]="diagramEngine"></mopo-react-diagram>
</div>
