<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="triggermenu">Add Trigger</button>
  <mat-menu #triggermenu="matMenu">
    <button mat-menu-item (click)="addSwitchTrigger()">Switch Trigger</button>
  </mat-menu>

  <button mat-button color="warn" [disabled]="!selectedTrigger" (click)="deleteSelectedTrigger()">Delete Trigger</button>
  
  <button mat-button [matMenuTriggerFor]="actionmenu">Add Action</button>
  <mat-menu #actionmenu="matMenu">
    <button mat-menu-item (click)="addDataAction()">Data Action</button>
    <button mat-menu-item (click)="addDeviceAction()">Device Action</button>
  </mat-menu>

  <button mat-button color="warn" [disabled]="!selectedAction" (click)="deleteSelectedAction()">Delete Action</button>
</mat-toolbar>

<div style="display: flex">
  <mopo-react-diagram [diagramEngine]="diagramEngine"></mopo-react-diagram>
</div>
