<router-outlet></router-outlet>

<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="newFile()">
      <mat-icon>note_add</mat-icon> <span>New...</span>
    </button>
    <button mat-menu-item (click)="saveFile()">
      <mat-icon>start</mat-icon> <span>Save</span>
    </button>
    <button mat-menu-item (click)="exportJson()">
      <mat-icon>download</mat-icon> <span>Export</span>
    </button>
    <mat-divider></mat-divider>
    <button
      *ngFor="let file of files.fileNames"
      mat-menu-item
      (click)="loadFile(file)"
    >
      <mat-icon *ngIf="file === files.selectedFile">task</mat-icon>
      <mat-icon *ngIf="file !== files.selectedFile">description</mat-icon>
      <span>{{ file }}</span>
    </button>
  </mat-menu>
  <span
    >Mopo Pinball Designer - {{ hardwareConfig.name }} -
    {{ engine?.name }}</span
  >
  <span class="example-spacer"></span>
  <mat-icon>edit</mat-icon>
  <span>Rule Engine:</span>
  <mat-select
    style="width: 33%"
    (valueChange)="setEngine($event)"
    [value]="engine"
  >
    <mat-option *ngFor="let engine of engines" [value]="engine">{{
      engine.id
    }}</mat-option>
  </mat-select>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="end">
    <mat-accordion *ngIf="engine">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Attributes </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="attributes">
          <mat-form-field>
            <mat-label>id</mat-label>
            <input matInput [(ngModel)]="engine.id" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="engine.name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="engine.description" />
          </mat-form-field>
          <mat-checkbox [(ngModel)]="engine.autoStart">Auto Start</mat-checkbox>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Devices </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="device-list">
          <mat-form-field>
            <mat-label>Devices</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="deviceSearchTerm"
              (input)="searchDevices()"
            />
            <button
              *ngIf="deviceSearchTerm"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearDeviceSearch()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div
            style="
              display: flex;
              flex-direction: column;
              gap: 1em;
              align-items: flex-start;
            "
          >
            <mopo-lamp
              *ngFor="let lamp of this.lamps"
              [state]="lamp"
            ></mopo-lamp>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    Triggers b

    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
