<router-outlet></router-outlet>

<mat-toolbar>
    <span>Mopo Pinball Designer</span>
    <span class="example-spacer"></span>
    <mat-icon>edit</mat-icon>
    <span>Rule Engine:</span>
    <mat-select style="width: 33%;">
        
      <mat-option *ngFor="let engine of engines" [value]="engine">{{engine.id}}</mat-option>
    
      </mat-select>
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav mode="side" opened position="end">
        <mat-list>
            <mat-list-item>Devices</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Data</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        Triggers
    </mat-sidenav-content>
  </mat-sidenav-container>
  