mat-accordion {
  mat-expansion-panel {
    margin: 0.5em;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.property-buttons {
  display: flex;
  gap: 0.5em;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 30vw;
}

.device-list {
  margin: 1em;
}
