mat-accordion {
  mat-expansion-panel {
    margin: 0.5em;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 30vw;

  &.simulation {
    width: 15vw;
    padding: 0.5em;

    .sim {
      display: flex;
      flex-direction: column;

      .close {
        display: flex;
        justify-content: end;
      }
    }
  }
}
