mat-accordion {
  mat-expansion-panel {
    margin: 0.5em;
  }
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 33%;
}

.device-list {
  margin: 1em;
}
