<router-outlet></router-outlet>

<mopo-toolbar
  [rootEngine]="rootEngine"
  [allEngines]="allEngines"
  [selectedEngine]="selectedEngine"
  (selectedEngineChanged)="setEngine($event)"
  (run)="drawer.open()"
></mopo-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #drawer mode="push" position="start" class="simulation">
    <div class="sim">
      <div class="close">
        <button mat-button (click)="drawer.close()">X</button>
      </div>
      <mopo-simulation
        [hardwareConfig]="hardwareConfig"
        [rootEngine]="rootEngine"
        (selectedEngineChanged)="setEngine($event)"
      ></mopo-simulation>
    </div>
  </mat-sidenav>
  <mat-sidenav mode="side" opened position="end" *ngIf="rootEngine">
    <!-- Engine -->
    <mopo-rule-engine-properties
      *ngIf="!selectedTrigger && !selectedAction"
      [rootEngine]="rootEngine"
      [selectedEngine]="selectedEngine"
      [hardwareConfig]="hardwareConfig"
      (addChild)="addChild()"
      (removeEngine)="removeEngine()"
    ></mopo-rule-engine-properties>

    <!-- Triggers -->
    <mopo-switch-trigger-properties
      *ngIf="selectedTrigger?.type === 'switch'"
      [hardwareConfig]="hardwareConfig"
      [switchTrigger]="selectedTrigger | as : SwitchTrigger"
      (triggerChange)="onTriggerDetailsChange()"
      (removeTrigger)="removeTrigger()"
    ></mopo-switch-trigger-properties>
    <mopo-timer-trigger-properties
      *ngIf="selectedTrigger?.type === 'timer'"
      [hardwareConfig]="hardwareConfig"
      [timerTrigger]="selectedTrigger | as : TimerTrigger"
      (triggerChange)="onTriggerDetailsChange()"
      (removeTrigger)="removeTrigger()"
    ></mopo-timer-trigger-properties>

    <!-- Actions -->
    <mopo-device-action-properties
      *ngIf="selectedAction?.type === 'device'"
      [hardwareConfig]="hardwareConfig"
      [deviceAction]="selectedAction | as : DeviceAction"
      (actionChange)="onActionDetailsChange()"
      (removeAction)="removeAction()"
    ></mopo-device-action-properties>
    <mopo-state-action-properties
      *ngIf="selectedAction?.type === 'state'"
      [hardwareConfig]="hardwareConfig"
      [rootEngine]="rootEngine"
      [stateAction]="selectedAction | as : StateAction"
      (actionChange)="onActionDetailsChange()"
      (removeAction)="removeAction()"
    ></mopo-state-action-properties>
    <div *ngIf="selectedAction?.type === 'data'">data action props</div>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="rootEngine">
    <mopo-triggers
      [engine]="selectedEngine"
      [hardwareConfig]="hardwareConfig"
      (triggerChanged)="onTriggerChanged($event)"
      (actionChanged)="onActionChanged($event)"
    ></mopo-triggers>
  </mat-sidenav-content>
</mat-sidenav-container>
