/* You can add global styles to this file, and also import other style files */

.spacer {
    flex: 1 1 auto;
  }

  .no-items {
      font-style: italic;
      font-size: x-small;
      opacity: 0.5;
  }

// .device-id {
//     font-family: monospace;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

input[type=number], input[type=text] {
    background: transparent;
    color: inherit;
    font-family: monospace;
}

mat-icon {
    font-size: large !important;
    
    width: auto !important;
    height: auto !important;
}

.mat-icon-button {
    line-height: inherit !important;
    width: auto !important;
    height: auto !important;
    padding: 4px !important;
}

.nestable-container {
    display: block;
    border: solid 1px rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 3px #333333;
    border-radius: 3px;
    background: rgb(66, 66, 66);

    &.active {
        border: solid 1px orange;
        box-shadow: 1px 1px 3px darkorange;
        background: rgb(70, 65, 58);
    }

    .header {
        display: flex;
        align-items: center;
        padding: 0px 6px;
        background: #212121;
        border-radius: 3px 3px 0 0;

        .title {
            margin: 0 0.5em;

            .title-text {
                font-weight: 500;

                &.bad {
                    color: red;
                }
            }
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        padding: 6px;

        &.max-height {
            max-height: 300px;
            overflow-y: auto;
        }

        .nestable-container {
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}