<mopo-properties
  title="{{ selectedEngine.id }} Properties"
  (removeEngineRule)="removeEngine.emit()"
>
  <div buttons class="property-buttons">
    <button mat-raised-button color="primary" (click)="onAddChild()">
      Add Child
    </button>
    <button mat-button color="secondary" (click)="onClone()">Clone</button>
  </div>
  <mat-accordion properties *ngIf="selectedEngine">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Attributes</mat-panel-title>
      </mat-expansion-panel-header>
      <mopo-attributes
        [selectedEngine]="selectedEngine"
        [autoStartDisabled]="selectedEngine === rootEngine"
        [nameDisabled]="selectedEngine !== rootEngine"
      ></mopo-attributes>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Devices</mat-panel-title>
      </mat-expansion-panel-header>
      <mopo-devices
        [selectedEngine]="selectedEngine"
        [hardwareConfig]="hardwareConfig"
      ></mopo-devices>
    </mat-expansion-panel>
    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Data</mat-panel-title>
      </mat-expansion-panel-header>
      <mopo-data
        [selectedEngine]="selectedEngine"
        [hardwareConfig]="hardwareConfig"
      ></mopo-data>
    </mat-expansion-panel>
  </mat-accordion>
</mopo-properties>
