<h2>Create new Trigger & Action</h2>
<mat-dialog-content>
    <div *ngIf="!existing" class="trigger">
        <div class="trigger-type">
            <mat-radio-group [(ngModel)]="mode" (ngModelChange)="onTriggerTypeChange()">
                <mat-radio-button value="switch">Switch</mat-radio-button>
                <mat-radio-button value="named">Named</mat-radio-button>
                <mat-radio-button value="timed">Timed</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="mode === 'switch'" class="switchSelect">
            Switch:
            <input type="text"
            (input)="onSwitchChange($event)"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let sw of filteredSwitches" [value]="sw.name"
                (onSelectionChange)="switchSelected(sw)">
                    {{sw.name}}
                </mat-option>
            </mat-autocomplete>
            Hold Time (ms):
            <input type="number" [(ngModel)]="switchHoldTime" />
        </div>
        <div *ngIf="mode === 'named'">
            Trigger Name: <input [(ngModel)]="triggerId" />
        </div>
        <div *ngIf="mode === 'timed'">
            Trigger Name: <input [(ngModel)]="triggerId" />
            Time (ms): <input [(ngModel)]="triggerTimerMs" />
            <mat-radio-group [(ngModel)]="triggerTimerMode">
                <mat-radio-button [value]="TimerActionTriggerMode.INTERVAL">Interval</mat-radio-button>
                <mat-radio-button [value]="TimerActionTriggerMode.TIMEOUT">Timeout</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedActionTabIndex">
        <mat-tab label="State Action">
            <div class="state-action">
                From State: <input [(ngModel)]="from" />
                To State: <input [(ngModel)]="to" />
            </div>        
        </mat-tab>
        <mat-tab label="Device Action">
            <div class="device-action">
                <button (click)="selectDevice()">Select Device</button>
            </div>
        </mat-tab>
        <mat-tab label="Data Action">
            <div class="data-action">
                <select [(ngModel)]="dataActionOperation">
                    <option [ngValue]="DataOperation.INCREMENT">Increment</option>
                    <option [ngValue]="DataOperation.DECREMENT">Decrement</option>
                    <option [ngValue]="DataOperation.MULTIPLY">Multiply</option>
                    <option [ngValue]="DataOperation.DIVIDE">Divide</option>
                    <option [ngValue]="DataOperation.ASSIGN">Set</option>
                </select>
                <app-data-key-selector [ruleEngine]="this.data.ruleEngine" (key)="this.dataActionKey = $event"></app-data-key-selector>
                by/to
                <app-operand-selector [ruleEngine]="this.data.ruleEngine" [(operand)]="dataActionOperand"></app-operand-selector>
            </div>
        </mat-tab>
      </mat-tab-group>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="create()">Create</button>
</mat-dialog-actions>