<h2>Create new Action</h2>
<mat-dialog-content>
    <div>
        <div *ngIf="mode !== 'existing'">
            Trigger Type:
            <mat-radio-group [(ngModel)]="mode">
                <mat-radio-button value="switch">Switch</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="mode === 'switch'" class="switchSelect">
            Switch:
            <input type="text"
            (input)="onSwitchChange($event)"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let sw of filteredSwitches" [value]="sw.name"
                (onSelectionChange)="switchSelected(sw)">
                    {{sw.name}}
                </mat-option>
            </mat-autocomplete>
            Hold Time (ms):
            <input type="number" [(ngModel)]="switchHoldTime" />
        </div>
    </div>
    <h3>Action</h3>
    <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedActionTabIndex">
        <mat-tab label="State Transition">
            <div class="state-action">
                From State: <input [(ngModel)]="from" />
                To State: <input [(ngModel)]="to" />
            </div>        
        </mat-tab>
        <mat-tab label="Device Action">
            <div>
                <button (click)="selectDevice()">Select Device</button>
            </div>
        </mat-tab>
      </mat-tab-group>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="create()">Create</button>
</mat-dialog-actions>