input {
    width: 100%;
}

.switchSelect {
    display: flex;
    white-space: nowrap;
}

.state-action, .data-action, .device-action {
    padding: 10px;
}

.state-action {
    display: flex;
    white-space: nowrap;
}

.data-action {
    display: flex;
    white-space: nowrap;
}

mat-radio-group {
    margin-bottom: 1em;
}